{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

{% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'rosa'}  %}
{% include 'ProyectoPrincipalBundle:Default:sesion.html.twig'  with {'datos': datos} %}

{% render controller('ProyectoPrincipalBundle:Evento:destacados', { 'numResults': 4 }) %}
{% render controller('ProyectoPrincipalBundle:Evento:widget', {  'titulo':'Eventos','numResults': 16,'paginacion':true,'proveedor':false,'cliente':false,'idRelacionado':0 }) %}
</div>
<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->
{%endblock%} 