{% extends "::base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

	{% include '::top.html.twig'  with {'clase': 'azul'}  %}
	{% include '::sesion.html.twig'  with {'datos': datos} %}

	{% render controller('ProjectFrontBundle:Servicio:destacados', { 'numResults': 4 }) %}
	{% render controller('ProjectFrontBundle:Servicio:widget', {  'titulo':'Servicios','numResults': 16,'paginacion':true,'proveedor':false,'cliente':false,'idRelacionado':0 }) %}

	<!--<div class="clearfix"></div>-->
</div>

{%endblock%} 