{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% include '::header.html.twig'  with {'clase': 'gris'}  %}
{% include '::mensaje.html.twig'  with {'titulo': 'Alerta','subtitulo': 'resetting.password_already_requested'|trans ,'accion':''}  %}


<p></p>
<!-- Content ends -->

<!-- Footer -->
{% render controller('ProjectFrontBundle:Helpers:frase') %}

{% endblock fos_user_content %}