{% trans_default_domain 'FOSUserBundle' %}


<div class="wrapper">

    {% include '::top.html.twig'  with {'clase': 'gris'}  %}
    <!-- Text Section End -->

    <header>
        <!-- Header Title Start -->
    </br>
        <h1>¡No pierda su acceso!</h1>
        <p style="text-align:center;">Restaure su contraseña y siga disfrutando de los servicios que oferece dondequiero.es</p>

    </header>
    <!-- Header Title End -->

    <div class="inicio">
        <div id="forminicio">
            <form class="form-horizontal fos_user_resetting_request"  action="{{ path('fos_user_resetting_send_email') }}" method="POST">

                {% if invalid_username is defined %}
                  <h1>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</h1>
                {% endif %}
               
                <p>{{ 'resetting.request.username'|trans }} <input type="text" id="username" name="username" required="required" class="formstyle" style="width: 56%;"/>
                        </p>
                </br>

                <input type="submit" class="botonSubmitFormulario formstyle " value=" {{ 'resetting.request.submit'|trans }}">


            </form>
        </div>

        
    </div>

    <!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

    <!-- DON'T TOUCH THIS SECTION -->
</div>