{% trans_default_domain 'FOSUserBundle' %}

<div class="wrapper">

    {% include 'ProjectLayoutBundle:Structure:top.html.twig'  with {'clase': 'gris'}  %}
    <!-- Text Section End -->

    <header>
        <!-- Header Title Start -->
    </br>
        <h1>¡Introduzca su nueva clave!</h1>
        <p style="text-align:center;">Y podra acceder de nuevo a nuestra seccion privada.</p>

    </header>
    <!-- Header Title End -->

    <div class="inicio">
        <div id="forminicio">

		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
								{{ form_widget(form) }}
								<div>
									<input type="submit" value="{{ 'resetting.reset.submit'|trans }}"  class="botonSubmitFormulario formstyle " />
								</div>
		</form>

        </div>

        
    </div>

    <!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

    <!-- DON'T TOUCH THIS SECTION -->
</div>
