{% extends "ProyectoPrincipalBundle:Default:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

 {% include 'ProyectoPrincipalBundle:Helpers:top.html.twig'  with {'clase': 'gris'}  %}
    <!-- Text Section End -->
    
  <header>	<!-- Header Title Start -->
    	<h1>&nbsp;</h1>
       
  </header>	<!-- Header Title End -->
  
  <div class="inicio">   
    <div id="forminicio">
      <h3 >Inicio de Sesión</h3>    
      <form action="{{ path('login_check') }}" method="post" id="submitform"  >
        <p>   Si ya está registrado, por favor, introduzca su nombre de usuario y contraseña para Iniciar su sesión                   
          </p>
        <input type="text" class="formstyle" title="Nombre" name="_username" id="nombreusuario"  value="{{ ultimo_nombreusuario}}"  />
        <input type="password" class="formstyle" title="Contraseña"  name="_password"/>
        <p><a href="#" title="Inscribirse">Recordar Contraseña</a></p>
        <div class="clearfix"></div>        

      </form><div class="enviar"><a href="javascript:void(0)" title="Perfil" id="botonAcceder">Acceder</a></div>
      <div id="error"></div>
      <div class="clearfix"></div>
      <p>¿Aún no estas registrado? <a href="{{path('proyecto_perfil_crearcuenta')}}" title="Inscribirse">Inscríbete ahora.</a> </p>
    </div>
  </div> 
  <div class="clearfix"></div>
  <div id="espacios" ></div>
  <div id="eventos" ></div>
  <div id="servicios" ></div>
  <div class="clearfix"></div>
</div> <!-- Work Links Section End -->
    <!-- Last Words Section End-->
<div id="sedes" ></div>

<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->


{%endblock%} 