  {% extends "::base.html.twig" %}

{%block contenedorbase%}

   <!-- Text Section End -->
    
  <header>	<!-- Header Title Start -->
    	<h1>&nbsp;</h1>
       
  </header>	<!-- Header Title End -->
  
   <div class="inicio">
      <div id="forminicio">
        <h3 > Inscríbete gratis</h3>

        <p>  Rellena los siguientes datos para crear un perfil de usuario                   </p>

        <input type="text" class="formstyle"  placeholder="E-Mail" name="email" id="email" />
        <input type="text" class="formstyle"  placeholder="Nombre" name="nombre" id="nombre" />
        <input type="text" class="formstyle" placeholder="Apellidos" name="apellidos" id="apellidos" />
        <input type="text" class="formstyle" placeholder="Telefono" name="telefono" id="telefono" />

        <p>  Datos de acceso                  </p>
        <input type="text" class="formstyle"  placeholder="Usuario" name="usuario" id="usuario" />
        <input type="password" class="formstyle"  placeholder="Contrase&ntilde;a" name="contrasenia" id="contrasenia" />
        <input type="password" class="formstyle"   placeholder="Repetir Contrase&ntilde;a" name="contrasenia2" id="contrasenia2" />

        <p style="float:left"> Foto de perfil   </p> <div class="enviar">Buscar imagen .. Examinar</div>
        <textarea name="descripcion" placeholder="Descripcion" id="descripcion"></textarea>
        <input type="text" class="formstyle"  placeholder="Pais" name="Pais" id="pais" value="España" readonly/>
        <input type="text" class="formstyle" placeholder="Ciudad" name="Ciudad" id="ciudad" />
        
        <select  title="marketing"  id="marketing" class="formstyle" style="width: 94%;">
          <option value="0"> ¿Cómo nos ha conocido? </option>
          <option value="1"> Mediante un buscador </option>
          <option value="2"> Por un enlace en otra Web </option>
          <option value="3"> Ha recibido publicidad </option>
          <option value="4"> Mediante carteles </option>
          <option value="5"> Por un amigo/conocido </option>
          <option value="6"> Otro </option>
        </select>
        <p> <input name="eventos" id="eventos" type="checkbox" >Disponible para organizar eventos</p>
        <p>&nbsp;</p>
        <div class="clearfix"></div>                         
      </div>
      <div class="enviar"><a href="javascript:void(0)" id="registroUsuario"  title="Perfil">Enviar</a></div>
             
      <div id="loader" style="display:none">
        <p style="text-align:center">
          <img src="{{asset('sistema/images/loader.gif')}}" style="width: 100px;">
        </p>
      </div>
      <div id="error"></div>
      <div class="clearfix"></div>
      <!--  <p> <input name="condiciones" type="checkbox" >
      <a href="ayuda.html"> Acepto las condiciones de uso y la política de privacidad</a></p></div>-->
    </div> 
    <div class="clearfix"></div>
    <div id="espacios" ></div>
    <div id="eventos" ></div>
    <div id="servicios" ></div>
    <div class="clearfix"></div>
  </div> <!-- Work Links Section End -->
  <!-- Last Words Section End-->
  <div id="sedes" ></div>
</div>
   </div>
<!-- TO MAKE THE PHP FORM WORK, ALL YOU NEED TO DO IS OPEN UP THE FILE CALLED 'submitemail.php' AND CHANGE WHERE IT SAYS 'your email goes here' -->

<!-- DON'T TOUCH THIS SECTION -->

{%endblock%} 