
  	<div id="registro">
  		{%if datos.usuario is null %}
      <p><a href="{{path('proyecto_principal_acceso')}}">Iniciar Sesión</a></p>
      {%else%}
	  <p>{{datos.usuario}} - <a href="{{path('proyecto_perfil_privado')}}">Perfil Privado</a> - <a href="{{path('proyecto_principal_cerrarsesion')}}">Cerrar Sesión</a></p>
      {%endif%}


   </div>
	<div class="clearfix"></div> 
    <!-- Text Section End -->