{% extends "ProjectLayoutBundle:Structure:base.html.twig" %}

{%block contenedorbase%}
<div class="wrapper">

 {% include 'ProjectLayoutBundle:Structure:top.html.twig' with {'clase': 'gris'} %}
  
  <div class="inicio">   
    <div id="forminicio">
      <h3 >{{titulo}}</h3>    
      <p>{{mensaje}}</p>

     <div class="enviar"><a href="{{direccionBoton}}" style="margin-left: 0%;" >{{tituloBoton}}</a></div>
      <div id="error"></div>
      <div class="clearfix"></div>
    </div>
  </div> 
  <div class="clearfix"></div>
  <div id="espacios" ></div>
  <div id="eventos" ></div>
  <div id="servicios" ></div>
  <div class="clearfix"></div>
</div> <!-- Work Links Section End -->
    <!-- Last Words Section End-->

{%endblock%} 